*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #D1FFEA;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.form-register{
  background-color: #24303c;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #333;
}

for.form-register {
  margin-bottom: 60px;
}

form label {
  display: block;
  margin-top: 15px;
  color: #CCC8C8;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
